<h2>Simulation and analysis of the card game "No Thanks"</h2>

Import game simulator code from nothx.py. Also import numpy for data analysis and matpltlib for plots.

In [1]:
from table import Table
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Select the number of players and the number of games to simulate.

In [2]:
num_players = 3
num_games = 10000

Run the simulation. For the initial analysis, retain data only from the winners.

The output of the Table.score() function, assigned to game_data in the code below, is a list of lists, or a list of *features* in data science parlance. The first index corresponds to the player and the second to various features (attributes) associated with the player. The feature indexed by 1 tells whether the player lost (0), won (1), or tied for the win (2). Here, game data is retained for those who won or tied. The last column of the feature-list is a list of cards in the player's final hand, in the order in which they were obtained during the game. For ease of working with the data (since the other features are single values, not lists), the "cards" feature is separated into a new list of lists.

In [3]:
#cards = []
won = []
lost = []
for i in range(num_games):
    mytable = Table(num_ai_players=num_players, verbose=0)
    mytable.play()
    game_data = mytable.score()
    for j in range(num_players):
        #cards.append(game_data[j].pop())
        if game_data[j][1] > 0:
            won.append(game_data[j])
        else:
            lost.append(game_data[j])
df_won = pd.DataFrame(data=np.array(won), \
                    columns=['pos', 'won', 'score', 'init_thr', 'tok_thr', 'eff_val', 'pot_thr', \
                             'min_tok', 'max_tok', 'avg_tok', 'med_tok', \
                             'min_efv', 'max_efv', 'avg_efv', 'med_efv', \
                             'num_cards', 'num_runs', 'first_card', 'min_card', 'max_card', 'avg_card', 'med_card'])
df_lost = pd.DataFrame(data=np.array(lost), \
                    columns=['pos', 'won', 'score', 'init_thr', 'tok_thr', 'eff_val', 'pot_thr', \
                             'min_tok', 'max_tok', 'avg_tok', 'med_tok', \
                             'min_efv', 'max_efv', 'avg_efv', 'med_efv', \
                             'num_cards', 'num_runs', 'first_card', 'min_card', 'max_card', 'avg_card', 'med_card'])

Inspect the "winners" features.

<table>
   <tr>
      <td>Column Index</td> <td>Description</td>
   </tr>
   <tr>
      <td><div align="center">0</div></td> <td>Player position (indexed from 0, i.e. the player who went first has position 0)</td>
   </tr>
   <tr>
      <td><div align="center">1</div></td> <td>Lost = 0<br>Won = 1<br>Tied = 2<br>Since data for the players who lost was not retained, this column should be populated entirely with "1"s and "2"s.</td>
   </tr>
   <tr>
      <td><div align="center">2</div></td> <td>Final score</td>
   </tr>
   <tr>
      <td><div align="center">3</div></td> <td>Card threshold value</td>
   </tr>
   <tr>
      <td><div align="center">4</div></td> <td>Token threshold value</td>
   </tr>
   <tr>
      <td><div align="center">5</div></td> <td>"Effective value" threshold value</td>
   </tr>
   <tr>
      <td><div align="center">6</div></td> <td>The number of times a player passed before taking her first card</td>
   </tr>
   <tr>
      <td><div align="center">7</div></td> <td>The minimum number of tokens the player ever had during the game</td>
   </tr>
   <tr>
      <td><div align="center">8</div></td> <td>The maximum number of tokens the player ever had during the game</td>
   </tr>
</table>

In [6]:
print(df_won)

       pos  won  score  init_thr  tok_thr  eff_val  pot_thr  min_tok  max_tok  \
0        0    1     46        32        5        5       15        1       30
1        0    1     40         5        0        3       15        0       28
2        2    1     41        30        5        0       14        4       29
3        0    2     31        21        6        5        6        4       28
4        1    2     31        22        1        3       16        0       20
5        0    1     21        26        2        3        6        0       17
6        0    1     33         7        1        5       17        2       15
7        0    1     60        29        9        2       13        5       21
8        2    1     25         8        9        6       12        2       29
9        2    1     27        16        5        3       18        0       23
10       2    1     57        25        1        5       13        0       16
11       2    1     -8        17        4        6        9        9       32
12       0    1     54        17        9        3       13        0       21
13       2    1     26        12       10        5       15        4       24
14       2    1     44        27        0        2       15        0       17
15       0    1     29         6        1        5        7        3       33
16       1    1      7        31        4        1       17        1       20
17       0    1     28        22        8        2       18        0       12
18       0    1     51        22        9        1       14        4       25
19       1    1     31        10        6        4        7        5       30
20       2    1     12        15       10        4       10       10       25
21       0    1      9         4        5        2       10        4       23
22       1    1      5        26        9        1       18        5       28
23       1    1     35        15        5        2       17        0       18
24       2    1     14        15       10        4        6        9       29
25       1    1     75        26       10        1       13        0       18
26       2    1     24        32        9        2        8        5       27
27       1    1     27        12        5        3       20        0       20
28       0    1     45        27        6        2       15        2       25
29       1    1     19        20        5        0       13        8       23
...    ...  ...    ...       ...      ...      ...      ...      ...      ...
10173    2    1     12        24        5        6       13       10       33
10174    0    1     43        14        7        3        7        5       27
10175    2    1     60        29        7        2       10        3       26
10176    0    2     62        32       10        1        7        6       24
10177    2    2     62        28        9        3       17        0       21
10178    1    1     36         3        9        3       10        7       29
10179    0    1     43        31       10        4       10        6       27
10180    1    1      9        10        7        1        6        6       25
10181    0    1     38         9        4        5       15        0       18
10182    1    1     18        24        0        6       19        9       29
10183    1    1     10        18        3        4       11        0       13
10184    0    2     59         9        4        0       18        0       23
10185    1    2     59        29        5        3       12        0       27
10186    1    1     47        23       10        6       17        5       27
10187    2    1     56        30        5        4       19        0       26
10188    2    1     44         8        7        0       17        0       25
10189    2    1     19        10        6        5       10        6       29
10190    1    1     20        33        8        6       15        0       16
10191    2    1     18         7        4        6       16        7       30
10192    2    1     19        15       10        3       15        0       14
10193    0    1     32        26        9        1       13        6       29
10194    2    1     32        27        7        2       11        6       29
10195    1    1      2        32        9        1        8        0       25
10196    0    1     35        16        7        4        7        5       24
10197    0    1     61        12       10        5       19        0       20
10198    2    1     66         5        8        3        8        0       23
10199    0    1     59         4        9        1       12        0       22
10200    2    1     26        17        0        4       11        0       27
10201    1    1     29        13        8        6       20        8       32
10202    2    1      8        29        9        1        7        4       26

         avg_tok    ...     max_efv   avg_efv    med_efv  num_cards  num_runs  \
0      15.500000    ...          12  1.500000   0.000000         12         6
1      14.019231    ...          11  1.000000   0.000000         10         4
2      18.757576    ...          30  6.000000  -2.000000          4         2
3      15.239130    ...          22  0.476584  -1.000000         11         3
4       7.925000    ...          22  1.600000   0.000000          5         2
5       7.745455    ...           8 -1.750000  -2.000000          8         3
6       9.300000    ...           6 -0.936027   1.575758          9         4
7      12.566038    ...          17  4.800000   8.000000          5         3
8      17.340426    ...          11 -0.965035   1.000000         13         5
9      10.979592    ...          16 -0.250000  -1.000000          8         2
10      6.622222    ...          24  5.000000   5.000000          6         4
11     22.483871    ...          11 -2.857143   3.000000          7         2
12      9.349206    ...          16  1.500000  -1.000000          6         3
13     14.754717    ...          11 -0.742424  -1.000000         12         4
14      6.828125    ...          24 -0.145455  -0.545455         10         4
15     20.500000    ...           5  1.428571   3.000000          7         4
16     10.621622    ...          24 -3.500000 -18.000000          4         1
17      5.687500    ...          19 -1.597403  -2.000000          7         2
18     15.061224    ...          17  3.333333  -1.000000          6         3
19     19.454545    ...          16  0.530303  -5.000000          4         2
20     19.607143    ...          14 -0.465909  -2.000000          8         3
21     13.023256    ...           9 -7.848485 -11.000000          4         1
22     19.957447    ...          26 -3.285714  -2.000000          7         1
23      8.626866    ...          15 -4.082251  -3.000000          7         2
24     20.432432    ...          17 -0.261708   0.000000         11         2
25     10.000000    ...          20  5.303030   0.000000          6         3
26     16.444444    ...          30 -0.500000  -3.000000          6         2
27      8.600000    ...          11 -1.625000  -6.000000          8         2
28     15.155172    ...          25  0.875000  -1.000000          8         4
29     16.340426    ...          19 -3.068182  -5.000000          8         2
...          ...    ...         ...       ...        ...        ...       ...
10173  22.692308    ...          17  0.777778  -1.000000          9         3
10174  14.416667    ...          16  0.000000  -1.000000          5         2
10175  13.629630    ...          16  3.571429   8.000000          7         4
10176  13.291667    ...          23  2.722944  -0.939394          7         3
10177  10.468085    ...          28  4.857143   1.000000          7         4
10178  20.800000    ...          14  0.636364  -2.000000          6         3
10179  13.796296    ...          19  0.716253   2.000000         11         5
10180  16.000000    ...           6 -1.875000  -3.000000          8         2
10181  11.311111    ...          16  1.625000  -1.000000          8         3
10182  20.588235    ...          17  0.600000  -1.000000         10         4
10183   5.282609    ...          12 -3.000000  -6.000000          6         1
10184   7.840000    ...          15  4.500000   0.000000          6         3
10185  11.150943    ...          17  3.000000   3.000000          9         5
10186  18.108108    ...          17  4.666667  -2.000000          6         3
10187   8.661017    ...          29  1.818182   3.000000         11         5
10188   9.500000    ...          15  1.666667   5.000000          3         2
10189  21.823529    ...          10  0.051515  -1.000000         10         4
10190   8.424242    ...          21  0.750000  -1.000000          4         1
10191  18.842105    ...           6 -0.520661   3.000000         11         4
10192   7.058824    ...          15  0.666667   0.000000          9         2
10193  18.945946    ...          20 -0.878788  -1.000000          7         2
10194  21.777778    ...          15  1.666667   0.000000         12         4
10195  10.023810    ...          32 -3.389610   0.000000          7         1
10196  13.108108    ...          14  2.000000   2.000000          5         2
10197  11.370370    ...          15  2.583333   0.000000         12         5
10198  12.094340    ...          15  6.613636   5.000000          4         3
10199  12.087719    ...          17  3.000000  -1.000000          7         3
10200  12.032258    ...          12 -1.000000  -1.000000         12         4
10201  20.531250    ...           6  2.285714   3.000000          7         4
10202  14.000000    ...          27 -4.632576  -1.000000          8         1

       first_card  min_card  max_card   avg_card  med_card
0              12         4        24  14.083333        12
1              11         4        35  17.400000        13
2              32        30        35  32.000000        31
3              19         5        30  18.181818        19
4              35        11        35  25.000000        33
5               8         4        15  10.500000        11
6               8         3        16   9.000000         8
7              17        17        27  21.000000        21
8              11         3        24  14.076923        14
9              27        14        27  19.000000        17
10             26         5        26  17.000000        18
11             12         4        16  12.142857        13
12              6         5        30  17.833333        21
13             21         3        22  11.666667        11
14             23         3        28  17.000000        22
15              6         3        29  18.428571        26
16             25        24        27  25.500000        25
17             21        12        22  17.285714        19
18             17        16        35  26.500000        24
19             30        26        30  28.250000        28
20             18         3        18  10.250000         6
21             26        24        27  25.500000        25
22             27        26        32  29.000000        29
23             22        18        27  21.857143        21
24              8         3        29   9.454545         8
25             21        19        35  24.833333        21
26             32        17        32  26.166667        29
27             28        12        28  16.625000        15
28             34         3        34  16.250000         8
29             26         9        26  20.000000        22
...           ...       ...       ...        ...       ...
10173          18        11        21  16.333333        17
10174          31        23        32  27.000000        25
10175          17         9        30  20.571429        19
10176          23        20        30  23.857143        23
10177          11         7        35  15.571429        11
10178          25        14        25  20.166667        21
10179          19         4        23  12.181818        10
10180           8         7        16  11.500000        10
10181           8         7        33  13.250000        10
10182          18         4        19  12.200000        13
10183          13        13        18  15.500000        15
10184          28        14        28  23.333333        23
10185          18         3        31  19.000000        18
10186          18         8        35  19.000000        10
10187          31         4        32  21.181818        23
10188          35        12        35  27.000000        34
10189          27         3        27  12.200000        10
10190          22        22        25  23.500000        23
10191           9         3        19  12.181818        13
10192          19         4        20  10.666667         8
10193          14        13        35  22.857143        16
10194          17         3        33  21.083333        19
10195          33        27        33  30.000000        30
10196          11         9        32  14.800000        11
10197          20         3        24  12.666667        10
10198          28        19        28  22.500000        21
10199          25        21        32  27.714286        29
10200           7         3        29  15.750000        13
10201           7         3        25  13.000000         8
10202          32        26        33  29.500000        29

[10203 rows x 22 columns]

Investigate the range of values present in some of the feature columns.

In [26]:
df_won['max_tok'].describe()
#df_won.loc[df_won['max_tok'] == 10]

count    10178.000000
mean        22.911869
std          5.108107
min         11.000000
25%         19.000000
50%         23.000000
75%         27.000000
max         33.000000
Name: max_tok, dtype: float64

In [27]:
df_lost['max_tok'].describe()

count    19822.000000
mean        18.844516
std          5.232300
min         11.000000
25%         15.000000
50%         19.000000
75%         23.000000
max         33.000000
Name: max_tok, dtype: float64

In [28]:
x = df_won['max_tok'].median()
y = df_lost['max_tok'].median()
print("winner median:", x, "\nloser median:", y)

winner median: 23.0
loser median: 19.0

Does player position confer an advantage?

In [4]:
won_pos = df_won['pos'].value_counts(sort=False).to_frame()
won_pos.columns = ['count']
won_pos['percent'] = 100*won_pos['count']/won_pos['count'].sum()
won_pos

   count    percent
0   3313  32.563397
1   3394  33.359544
2   3467  34.077059

In [5]:
lost_pos = df_lost['pos'].value_counts(sort=False).to_frame()
lost_pos.columns = ['count']
lost_pos['percent'] = 100*lost_pos['count']/lost_pos['count'].sum()
lost_pos

   count    percent
0   6687  33.728437
1   6606  33.319883
2   6533  32.951680

In [31]:
df_won['tok_thr'].describe()

count    10178.000000
mean         5.224700
std          3.136367
min          0.000000
25%          3.000000
50%          5.000000
75%          8.000000
max         10.000000
Name: tok_thr, dtype: float64

In [13]:
df_lost['tok_thr'].describe()

count    19797.000000
mean         4.880942
std          3.180773
min          0.000000
25%          2.000000
50%          5.000000
75%          8.000000
max         10.000000
Name: tok_thr, dtype: float64

In [6]:
df_won['eff_val'].describe()

count    10174.000000
mean         4.296442
std          2.576042
min          0.000000
25%          2.000000
50%          4.000000
75%          7.000000
max          8.000000
Name: eff_val, dtype: float64

In [7]:
df_lost['eff_val'].describe()

count    19826.000000
mean         3.841572
std          2.566398
min          0.000000
25%          2.000000
50%          4.000000
75%          6.000000
max          8.000000
Name: eff_val, dtype: float64

In [8]:
df_won['init_thr'].describe()

count    10174.000000
mean        17.516906
std          9.039547
min          3.000000
25%         10.000000
50%         17.000000
75%         25.000000
max         34.000000
Name: init_thr, dtype: float64

In [9]:
df_lost['init_thr'].describe()

count    19826.00000
mean        18.97241
std          9.26692
min          3.00000
25%         11.00000
50%         19.00000
75%         27.00000
max         34.00000
Name: init_thr, dtype: float64

In [19]:
df_won['tok_thr'].describe()

count    10203.000000
mean         5.219151
std          3.141160
min          0.000000
25%          3.000000
50%          5.000000
75%          8.000000
max         10.000000
Name: tok_thr, dtype: float64

In [18]:
df_lost['tok_thr'].describe()

count    19797.000000
mean         4.880942
std          3.180773
min          0.000000
25%          2.000000
50%          5.000000
75%          8.000000
max         10.000000
Name: tok_thr, dtype: float64

In [20]:
df_won['pot_thr'].describe()

count    10203.000000
mean        12.918749
std          4.270891
min          6.000000
25%          9.000000
50%         13.000000
75%         17.000000
max         20.000000
Name: pot_thr, dtype: float64

In [21]:
df_lost['pot_thr'].describe()

count    19797.000000
mean        13.008840
std          4.348407
min          6.000000
25%          9.000000
50%         13.000000
75%         17.000000
max         20.000000
Name: pot_thr, dtype: float64

In [10]:
df_won['pot_minus_tok_thr'] = df_won['pot_thr'] - df_won['tok_thr']
df_won['pot_minus_tok_thr'].describe()

count    10174.000000
mean         7.608217
std          5.366416
min         -4.000000
25%          4.000000
50%          8.000000
75%         12.000000
max         20.000000
Name: pot_minus_tok_thr, dtype: float64

In [11]:
df_lost['pot_minus_tok_thr'] = df_lost['pot_thr'] - df_lost['tok_thr']
df_lost['pot_minus_tok_thr'].describe()

count    19826.000000
mean         8.188540
std          5.349416
min         -4.000000
25%          4.000000
50%          8.000000
75%         12.000000
max         20.000000
Name: pot_minus_tok_thr, dtype: float64